# Pandas

In [1]:
# !pip install pandas

In [2]:
import pandas as pd
import numpy as np

# Series

In [5]:
lista = ['Matemática', 'Historia', 'Economía', 'Programación', 'Inglés']

In [7]:
lista

['Matemática', 'Historia', 'Economía', 'Programación', 'Inglés']

In [8]:
type(lista)

list

In [9]:
series_1 = pd.Series(lista, dtype='string')

In [10]:
series_1

0      Matemática
1        Historia
2        Economía
3    Programación
4          Inglés
dtype: string

In [11]:
type(series_1)

pandas.core.series.Series

In [12]:
np_lista = np.arange(10, 100, 10)

In [13]:
np_lista

array([10, 20, 30, 40, 50, 60, 70, 80, 90])

In [15]:
pd.Series(np_lista)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int32

In [16]:
diccionario = {'Matemática': 6.0, 'Economía': 4.5, 'Programación': 8.5}

In [20]:
series_2 = pd.Series(diccionario)

In [21]:
series_2

Matemática      6.0
Economía        4.5
Programación    8.5
dtype: float64

In [22]:
series_2[1]

4.5

In [25]:
serie_3 = pd.Series(np.random.randint(1, 11, 20))

In [26]:
serie_3

0      9
1      3
2      8
3      9
4      6
5      9
6     10
7      1
8      6
9      2
10     5
11     6
12     8
13     3
14     4
15     4
16     4
17    10
18     7
19     3
dtype: int32

In [30]:
serie_3.size

20

In [32]:
len(serie_3)

20

In [28]:
serie_3.index

RangeIndex(start=0, stop=20, step=1)

In [29]:
series_2.index

Index(['Matemática', 'Economía', 'Programación'], dtype='object')

In [33]:
serie_3.dtype

dtype('int32')

In [34]:
serie_3

0      9
1      3
2      8
3      9
4      6
5      9
6     10
7      1
8      6
9      2
10     5
11     6
12     8
13     3
14     4
15     4
16     4
17    10
18     7
19     3
dtype: int32

In [38]:
serie_3[10:15:2]

10    5
12    8
14    4
dtype: int32

In [39]:
series_2

Matemática      6.0
Economía        4.5
Programación    8.5
dtype: float64

In [41]:
series_2[1]

4.5

In [42]:
series_2['Matemática']

6.0

In [43]:
series_2['Economía']

4.5

In [44]:
serie_3

0      9
1      3
2      8
3      9
4      6
5      9
6     10
7      1
8      6
9      2
10     5
11     6
12     8
13     3
14     4
15     4
16     4
17    10
18     7
19     3
dtype: int32

In [46]:
serie_3.count()

20

In [47]:
serie_3.sum()

117

In [50]:
print(serie_3)
print(serie_3.cumsum())

0      9
1      3
2      8
3      9
4      6
5      9
6     10
7      1
8      6
9      2
10     5
11     6
12     8
13     3
14     4
15     4
16     4
17    10
18     7
19     3
dtype: int32
0       9
1      12
2      20
3      29
4      35
5      44
6      54
7      55
8      61
9      63
10     68
11     74
12     82
13     85
14     89
15     93
16     97
17    107
18    114
19    117
dtype: int32

In [51]:
serie_3.value_counts()

9     3
3     3
6     3
4     3
8     2
10    2
1     1
2     1
5     1
7     1
dtype: int64

In [52]:
serie_3.max()

10

In [53]:
serie_3.min()

1

In [54]:
serie_3.mean()

5.85

In [55]:
serie_3.std()

2.796143961356707

In [56]:
serie_3.describe()

count    20.000000
mean      5.850000
std       2.796144
min       1.000000
25%       3.750000
50%       6.000000
75%       8.250000
max      10.000000
dtype: float64

In [63]:
serie_3.nunique()

10

In [75]:
serie_4 = pd.Series(np.arange(1, 6))

In [76]:
serie_4

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [77]:
serie_4 + 1

0    2
1    3
2    4
3    5
4    6
dtype: int32

In [78]:
serie_4 * 2

0     2
1     4
2     6
3     8
4    10
dtype: int32

In [79]:
serie_4 ** 2

0     1
1     4
2     9
3    16
4    25
dtype: int32

In [80]:
def to_string(s):
    return 'valor: ' + str(s)

In [82]:
to_string(10)

'valor: 10'

In [83]:
serie_4

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [84]:
serie_4.apply(to_string)

0    valor: 1
1    valor: 2
2    valor: 3
3    valor: 4
4    valor: 5
dtype: object

In [85]:
serie_4

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [86]:
serie_4

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [87]:
serie_4[serie_4 > 3]

3    4
4    5
dtype: int32

In [88]:
serie_4[serie_4 % 2 == 0]

1    2
3    4
dtype: int32

In [89]:
serie_3

0      9
1      3
2      8
3      9
4      6
5      9
6     10
7      1
8      6
9      2
10     5
11     6
12     8
13     3
14     4
15     4
16     4
17    10
18     7
19     3
dtype: int32

In [90]:
serie_3.sort_values()

7      1
9      2
13     3
19     3
1      3
14     4
15     4
16     4
10     5
4      6
8      6
11     6
18     7
2      8
12     8
5      9
3      9
0      9
6     10
17    10
dtype: int32

In [95]:
serie_3.sort_values(ascending=False)

6     10
17    10
0      9
3      9
5      9
2      8
12     8
18     7
11     6
4      6
8      6
10     5
14     4
15     4
16     4
1      3
13     3
19     3
9      2
7      1
dtype: int32

In [97]:
serie_3.sort_index(ascending=False)

19     3
18     7
17    10
16     4
15     4
14     4
13     3
12     8
11     6
10     5
9      2
8      6
7      1
6     10
5      9
4      6
3      9
2      8
1      3
0      9
dtype: int32

In [98]:
serie_5 = pd.Series(['A', 'B', None, 'C', np.NaN, 'D'])

In [99]:
serie_5

0       A
1       B
2    None
3       C
4     NaN
5       D
dtype: object

In [100]:
serie_5.dropna()

0    A
1    B
3    C
5    D
dtype: object

# DataFrames

In [101]:
datos = {
    'nombre': ['María', 'Luis', 'Carmen', 'Antonio'],
    'edad': [18, 22, 20, 21],
    'grado': ['Economía', 'Medicina', 'Arquitectura', 'Economía'],
    'correo': ['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']
}

In [102]:
df = pd.DataFrame(datos)

In [103]:
df

    nombre  edad         grado             correo
0    María    18      Economía    maria@gmail.com
1     Luis    22      Medicina      luis@yahoo.es
2   Carmen    20  Arquitectura   carmen@gmail.com
3  Antonio    21      Economía  antonio@gmail.com

In [104]:
type(df)

pandas.core.frame.DataFrame

In [105]:
df_2 = pd.DataFrame([['María', 18], ['Luis', 22], ['Carmen', 20]], columns=['Nombre', 'Edad'])

In [106]:
df_2

   Nombre  Edad
0   María    18
1    Luis    22
2  Carmen    20

In [108]:
type(df_2['Nombre'])

pandas.core.series.Series

In [109]:
type(df_2)

pandas.core.frame.DataFrame

In [112]:
pd.DataFrame(np.random.randn(4, 3), columns=['A', 'B', 'C'])

          A         B         C
0 -0.177329  0.974997 -1.061670
1  0.136158  1.480897  1.059716
2 -0.699582  0.265172  1.843828
3  1.316456 -0.049963  1.069304

In [118]:
colesterol = pd.read_csv('colesterol.csv', sep=';', decimal=',')

In [124]:
colesterol.head()

                         nombre  edad sexo  peso  altura  colesterol
0  José Luis Martínez Izquierdo    18    H  85.0    1.79       182.0
1                Rosa Díaz Díaz    32    M  65.0    1.73       232.0
2         Javier García Sánchez    24    H   NaN    1.81       191.0
3           Carmen López Pinzón    35    M  65.0    1.70       200.0
4          Marisa López Collado    46    M  51.0    1.58       148.0

In [125]:
colesterol.tail()

                             nombre  edad sexo   peso  altura  colesterol
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [126]:
colesterol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      14 non-null     object
 1   edad        14 non-null     int64
 2   sexo        14 non-null     object
 3   peso        13 non-null     float64
 4   altura      14 non-null     float64
 5   colesterol  13 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 800.0+ bytes

In [134]:
colesterol.shape

(14, 6)

In [135]:
colesterol

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [131]:
colesterol.size

84

In [132]:
colesterol.index

RangeIndex(start=0, stop=14, step=1)

In [133]:
colesterol.dtypes

nombre         object
edad            int64
sexo           object
peso          float64
altura        float64
colesterol    float64
dtype: object

In [136]:
colesterol.rename(columns={'nombre': 'nombre y apellido', 'altura': 'estatura'})

                  nombre y apellido  edad sexo   peso  estatura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0      1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0      1.73       232.0
2             Javier García Sánchez    24    H    NaN      1.81       191.0
3               Carmen López Pinzón    35    M   65.0      1.70       200.0
4              Marisa López Collado    46    M   51.0      1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0      1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0      1.72       276.0
7             Pilar Martín González    22    M   60.0      1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0      1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0      1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0      1.62       262.0
11       José María de la Guía Sanz    58    H   78.0      1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0      1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0      1.77       194.0

In [137]:
colesterol.rename(index={0:1000, 1:1001, 2:1002})

                               nombre  edad sexo   peso  altura  colesterol
1000     José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1001                   Rosa Díaz Díaz    32    M   65.0    1.73       232.0
1002            Javier García Sánchez    24    H    NaN    1.81       191.0
3                 Carmen López Pinzón    35    M   65.0    1.70       200.0
4                Marisa López Collado    46    M   51.0    1.58       148.0
5                   Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6             Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7               Pilar Martín González    22    M   60.0    1.66         NaN
8                Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9             Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10              Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11         José María de la Guía Sanz    58    H   78.0    1.87       198.0
12    Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13              Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [140]:
colesterol

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [151]:
colesterol.iloc[:, [0,5]]

                             nombre  colesterol
0      José Luis Martínez Izquierdo       182.0
1                    Rosa Díaz Díaz       232.0
2             Javier García Sánchez       191.0
3               Carmen López Pinzón       200.0
4              Marisa López Collado       148.0
5                 Antonio Ruiz Cruz       249.0
6           Antonio Fernández Ocaña       276.0
7             Pilar Martín González         NaN
8              Pedro Gálvez Tenorio       241.0
9           Santiago Reillo Manzano       280.0
10            Macarena Álvarez Luna       262.0
11       José María de la Guía Sanz       198.0
12  Miguel Angel Cuadrado Gutiérrez       210.0
13            Carolina Rubio Moreno       194.0

In [152]:
colesterol.loc[:, ['nombre', 'colesterol']]

                             nombre  colesterol
0      José Luis Martínez Izquierdo       182.0
1                    Rosa Díaz Díaz       232.0
2             Javier García Sánchez       191.0
3               Carmen López Pinzón       200.0
4              Marisa López Collado       148.0
5                 Antonio Ruiz Cruz       249.0
6           Antonio Fernández Ocaña       276.0
7             Pilar Martín González         NaN
8              Pedro Gálvez Tenorio       241.0
9           Santiago Reillo Manzano       280.0
10            Macarena Álvarez Luna       262.0
11       José María de la Guía Sanz       198.0
12  Miguel Angel Cuadrado Gutiérrez       210.0
13            Carolina Rubio Moreno       194.0

In [157]:
type(colesterol[['nombre']])

pandas.core.frame.DataFrame

In [158]:
type(colesterol['nombre'])

pandas.core.series.Series

In [159]:
colesterol[['nombre', 'edad']]

                             nombre  edad
0      José Luis Martínez Izquierdo    18
1                    Rosa Díaz Díaz    32
2             Javier García Sánchez    24
3               Carmen López Pinzón    35
4              Marisa López Collado    46
5                 Antonio Ruiz Cruz    68
6           Antonio Fernández Ocaña    51
7             Pilar Martín González    22
8              Pedro Gálvez Tenorio    35
9           Santiago Reillo Manzano    46
10            Macarena Álvarez Luna    53
11       José María de la Guía Sanz    58
12  Miguel Angel Cuadrado Gutiérrez    27
13            Carolina Rubio Moreno    20

In [161]:
colesterol.nombre

0        José Luis Martínez Izquierdo
1                      Rosa Díaz Díaz
2               Javier García Sánchez
3                 Carmen López Pinzón
4                Marisa López Collado
5                   Antonio Ruiz Cruz
6             Antonio Fernández Ocaña
7               Pilar Martín González
8                Pedro Gálvez Tenorio
9             Santiago Reillo Manzano
10              Macarena Álvarez Luna
11         José María de la Guía Sanz
12    Miguel Angel Cuadrado Gutiérrez
13              Carolina Rubio Moreno
Name: nombre, dtype: object

In [162]:
colesterol.loc[3:4, ['nombre', 'colesterol']]

                 nombre  colesterol
3   Carmen López Pinzón       200.0
4  Marisa López Collado       148.0

In [163]:
colesterol.loc[colesterol['edad'] > 35]

                        nombre  edad sexo  peso  altura  colesterol
4         Marisa López Collado    46    M  51.0    1.58       148.0
5            Antonio Ruiz Cruz    68    H  66.0    1.74       249.0
6      Antonio Fernández Ocaña    51    H  62.0    1.72       276.0
9      Santiago Reillo Manzano    46    H  75.0    1.85       280.0
10       Macarena Álvarez Luna    53    M  55.0    1.62       262.0
11  José María de la Guía Sanz    58    H  78.0    1.87       198.0

In [164]:
colesterol['diabetes'] = pd.Series([False, False, True, False, True])

In [165]:
colesterol

,nombre,edad,sexo,peso,altura,colesterol,diabetes
0,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0,False
1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0,False
2,Javier García Sánchez,24,H,NaN,1.81,191.0,True
3,Carmen López Pinzón,35,M,65.0,1.70,200.0,False
4,Marisa López Collado,46,M,51.0,1.58,148.0,True
5,Antonio Ruiz Cruz,68,H,66.0,1.74,249.0,NaN
6,Antonio Fernández Ocaña,51,H,62.0,1.72,276.0,NaN
7,Pilar Martín González,22,M,60.0,1.66,NaN,NaN
8,Pedro Gálvez Tenorio,35,H,90.0,1.94,241.0,NaN
9,Santiago Reillo Manzano,46,H,75.0,1.85,280.0,NaN
10,Macarena Álvarez Luna,53,M,55.0,1.62,262.0,NaN
11,José María de la Guía Sanz,58,H,78.0,1.87,198.0,NaN
12,Miguel Angel Cuadrado Gutiérrez,27,H,109.0,1.98,210.0,NaN
13,Carolina Rubio Moreno,20,M,61.0,1.77,194.0,NaN

In [167]:
colesterol['turno'] = [True, True, False, True, True, False, False, False, True, True, False, True, True, False]

In [168]:
colesterol

,nombre,edad,sexo,peso,altura,colesterol,diabetes,turno
0,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0,False,True
1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0,False,True
2,Javier García Sánchez,24,H,NaN,1.81,191.0,True,False
3,Carmen López Pinzón,35,M,65.0,1.70,200.0,False,True
4,Marisa López Collado,46,M,51.0,1.58,148.0,True,True
5,Antonio Ruiz Cruz,68,H,66.0,1.74,249.0,NaN,False
6,Antonio Fernández Ocaña,51,H,62.0,1.72,276.0,NaN,False
7,Pilar Martín González,22,M,60.0,1.66,NaN,NaN,False
8,Pedro Gálvez Tenorio,35,H,90.0,1.94,241.0,NaN,True
9,Santiago Reillo Manzano,46,H,75.0,1.85,280.0,NaN,True
10,Macarena Álvarez Luna,53,M,55.0,1.62,262.0,NaN,False
11,José María de la Guía Sanz,58,H,78.0,1.87,198.0,NaN,True
12,Miguel Angel Cuadrado Gutiérrez,27,H,109.0,1.98,210.0,NaN,True
13,Carolina Rubio Moreno,20,M,61.0,1.77,194.0,NaN,False

In [170]:
colesterol['altura'] * 100

0     179.0
1     173.0
2     181.0
3     170.0
4     158.0
5     174.0
6     172.0
7     166.0
8     194.0
9     185.0
10    162.0
11    187.0
12    198.0
13    177.0
Name: altura, dtype: float64

In [172]:
colesterol_final = colesterol[['nombre', 'edad', 'colesterol']]

In [178]:
colesterol_final = colesterol_final.dropna()

In [180]:
colesterol_final = colesterol_final.reset_index(drop=True)

In [181]:
colesterol_final

                             nombre  edad  colesterol
0      José Luis Martínez Izquierdo    18       182.0
1                    Rosa Díaz Díaz    32       232.0
2             Javier García Sánchez    24       191.0
3               Carmen López Pinzón    35       200.0
4              Marisa López Collado    46       148.0
5                 Antonio Ruiz Cruz    68       249.0
6           Antonio Fernández Ocaña    51       276.0
7              Pedro Gálvez Tenorio    35       241.0
8           Santiago Reillo Manzano    46       280.0
9             Macarena Álvarez Luna    53       262.0
10       José María de la Guía Sanz    58       198.0
11  Miguel Angel Cuadrado Gutiérrez    27       210.0
12            Carolina Rubio Moreno    20       194.0

In [176]:
colesterol_final.to_csv('demo_final.csv')

In [177]:
colesterol_final.to_excel('demo_excel.xlsx')