# Práctica Clase 6

### Problema 1

- Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas
- quitar los registros que contengan valores faltantes
- implementar una nueva columna que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".


Consideraciones: Se puede utilizar la función provista.

### Exploración de lo datos

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('Emisiones_CO2.csv', sep='|', encoding='latin-1', decimal=',', thousands='.')

In [7]:
df.head()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN

In [8]:
df.columns

Index(['Código de país', 'Nombre del país', 'Región', 'Año', 'CO2 (kt)',
       'CO2 per cápita (toneladas métricas)'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       11127 non-null  object
 1   Nombre del país                      11127 non-null  object
 2   Región                               11127 non-null  object
 3   Año                                  11127 non-null  int64
 4   CO2 (kt)                             9032 non-null   float64
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 521.7+ KB

In [10]:
df.loc[df['CO2 (kt)'].isna()]

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN
...,...,...,...,...,...,...
11026,ZMB,Zambia,África subsahariana,1963,NaN,NaN
11075,ZWE,Zimbabue,África subsahariana,1960,NaN,NaN
11076,ZWE,Zimbabue,África subsahariana,1961,NaN,NaN
11077,ZWE,Zimbabue,África subsahariana,1962,NaN,NaN
11078,ZWE,Zimbabue,África subsahariana,1963,NaN,NaN

In [15]:
df.dropna(inplace=True)

In [16]:
df.shape

(9029, 6)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9029 entries, 26 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       9029 non-null   object
 1   Nombre del país                      9029 non-null   object
 2   Región                               9029 non-null   object
 3   Año                                  9029 non-null   int64
 4   CO2 (kt)                             9029 non-null   float64
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 493.8+ KB

In [31]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [36]:
for i, val in enumerate(repr('pato'), start=1):
    print(val, i, ord(val), i * ord(val))

' 1 39 39
p 2 112 224
a 3 97 291
t 4 116 464
o 5 111 555
' 6 39 234

In [33]:
repr(10000)

'10000'

In [34]:
ord('A')

65

In [35]:
hash_function('pato')

1807

In [37]:
hash_function('PATO')

1359

In [38]:
hash_function('Pato')

1743

In [39]:
hash_function('tapo')

1799

In [40]:
hash_function('otap')

1791

In [43]:
df['Clave_Hash'] = df['Código de país'].apply(hash_function)

In [44]:
df['Código de país'].unique()

array(['ABW', 'AND', 'AFG', 'AGO', 'ALB', 'ARE', 'ARG', 'ARM', 'ATG',
       'AUS', 'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA', 'BGD', 'BGR',
       'BHR', 'BHS', 'BIH', 'BLR', 'BLZ', 'BMU', 'BOL', 'BRA', 'BRB',
       'BRN', 'BTN', 'BWA', 'CAF', 'CAN', 'CHE', 'CHL', 'CHN', 'CIV',
       'CMR', 'COG', 'COL', 'COM', 'CPV', 'CRI', 'CUB', 'CYM', 'CYP',
       'CZE', 'DEU', 'DJI', 'DMA', 'DNK', 'DOM', 'DZA', 'ECU', 'EGY',
       'ERI', 'ESP', 'EST', 'ETH', 'FIN', 'FJI', 'FRA', 'FRO', 'FSM',
       'GAB', 'GBR', 'GEO', 'GHA', 'GIN', 'GMB', 'GNB', 'GNQ', 'GRC',
       'GRD', 'GRL', 'GTM', 'GUY', 'HKG', 'HND', 'HRV', 'HTI', 'HUN',
       'IDN', 'IND', 'IRL', 'IRN', 'IRQ', 'ISL', 'ISR', 'ITA', 'JAM',
       'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR', 'KNA', 'KOR',
       'KWT', 'LAO', 'LBN', 'LBR', 'LBY', 'LCA', 'LIE', 'LKA', 'LSO',
       'LTU', 'LUX', 'LVA', 'MAC', 'MAR', 'MDA', 'MDG', 'MDV', 'MEX',
       'MHL', 'MKD', 'MLI', 'MLT', 'MMR', 'MNE', 'MNG', 'MOZ', 'MRT',
       'MUS', 'MWI', 'MYS', 'NAM', 'NCL', 'NER', 'NGA', 'NIC', 'NLD',
       'NOR', 'NPL', 'NZL', 'OMN', 'PAK', 'PAN', 'PER', 'PHL', 'PLW',
       'PNG', 'POL', 'PRK', 'PRT', 'PRY', 'PYF', 'QAT', 'ROU', 'RUS',
       'RWA', 'SAU', 'SDN', 'SEN', 'SGP', 'SLB', 'SLE', 'SLV', 'SOM',
       'SRB', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ', 'SYC', 'SYR',
       'TCA', 'TCD', 'TGO', 'THA', 'TJK', 'TKM', 'TLS', 'TON', 'TTO',
       'TUN', 'TUR', 'TZA', 'UGA', 'UKR', 'URY', 'USA', 'UZB', 'VCT',
       'VEN', 'VNM', 'VUT', 'PSE', 'WSM', 'YEM', 'ZAF', 'COD', 'ZMB',
       'ZWE'], dtype=object)

In [47]:
df[['Código de país', 'Clave_Hash']]

      Código de país  Clave_Hash
26               ABW         910
27               ABW         910
28               ABW         910
29               ABW         910
30               ABW         910
...              ...         ...
11122            ZWE         951
11123            ZWE         951
11124            ZWE         951
11125            ZWE         951
11126            ZWE         951

[9029 rows x 2 columns]

### Problema 2 
A partir del Dataframe creado en el punto 1:
- construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región"
- Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [48]:
df

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165,910
...,...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,9732.220,0.731867,951
11123,ZWE,Zimbabue,África subsahariana,2008,7682.370,0.569255,951
11124,ZWE,Zimbabue,África subsahariana,2009,8239.750,0.600521,951
11125,ZWE,Zimbabue,África subsahariana,2010,9028.150,0.646073,951
11126,ZWE,Zimbabue,África subsahariana,2011,9860.560,0.691698,951

In [49]:
df.columns

Index(['Código de país', 'Nombre del país', 'Región', 'Año', 'CO2 (kt)',
       'CO2 per cápita (toneladas métricas)', 'Clave_Hash'],
      dtype='object')

In [50]:
tupla = ['Clave_Hash', 'Código de país', 'Nombre del país', 'Región']

In [53]:
df_pais = df[tupla].drop_duplicates()

In [54]:
df_pais

,Clave_Hash,Código de país,Nombre del país,Región
26,910,ABW,Aruba,América Latina y Caribe
87,870,AND,Andorra,Europa y Asia Central
104,858,AFG,Afganistán,Sur de Asia
156,893,AGO,Angola,África subsahariana
208,856,ALB,Albania,Europa y Asia Central
...,...,...,...,...
10867,927,YEM,Yemen,Oriente Medio y Norte de África
10919,889,ZAF,Sudáfrica,África subsahariana
10971,877,COD,Congo (República Democrática),África subsahariana
11027,909,ZMB,Zambia,África subsahariana
11079,951,ZWE,Zimbabue,África subsahariana

In [55]:
df.columns

Index(['Código de país', 'Nombre del país', 'Región', 'Año', 'CO2 (kt)',
       'CO2 per cápita (toneladas métricas)', 'Clave_Hash'],
      dtype='object')

In [56]:
tupla_2 = ['Año', 'CO2 (kt)', 'CO2 per cápita (toneladas métricas)', 'Clave_Hash']

In [57]:
df.drop(['Código de país', 'Nombre del país', 'Región'], axis=1, inplace=True)

In [58]:
df

        Año  CO2 (kt)  CO2 per cápita (toneladas métricas)  Clave_Hash
26     1986   179.683                             2.868319         910
27     1987   447.374                             7.234964         910
28     1988   612.389                            10.026508         910
29     1989   649.059                            10.634733         910
30     1990  1840.830                            29.620165         910
...     ...       ...                                  ...         ...
11122  2007  9732.220                             0.731867         951
11123  2008  7682.370                             0.569255         951
11124  2009  8239.750                             0.600521         951
11125  2010  9028.150                             0.646073         951
11126  2011  9860.560                             0.691698         951

[9029 rows x 4 columns]

In [60]:
df_pais.loc[df_pais['Clave_Hash'].duplicated()]

,Clave_Hash,Código de país,Nombre del país,Región
656,910,AZE,Azerbaiyán,Europa y Asia Central
988,910,BHR,Baréin,Oriente Medio y Norte de África
1300,907,BOL,Bolivia,América Latina y Caribe
2288,887,CUB,Cuba,América Latina y Caribe
2444,955,CYP,Chipre,Europa y Asia Central
...,...,...,...,...
10867,927,YEM,Yemen,Oriente Medio y Norte de África
10919,889,ZAF,Sudáfrica,África subsahariana
10971,877,COD,Congo (República Democrática),África subsahariana
11027,909,ZMB,Zambia,África subsahariana
11079,951,ZWE,Zimbabue,África subsahariana

In [63]:
hash_function('AZE')

910

In [64]:
hash_function('BHR')

910

In [67]:
df_pais['Clave_Hash'].value_counts()

910    5
935    5
951    4
877    4
931    4
      ..
981    1
836    1
847    1
881    1
965    1
Name: Clave_Hash, Length: 108, dtype: int64

In [68]:
df_pais.to_csv('df_pais.csv', index=False)

In [69]:
df.to_csv('df.csv', index=False)