# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas
2) quitar los registros que contengan valores faltantes e 
3) implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [35]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [36]:
print(hash_function('pato'))
print(hash_function('tapo'))

1807
1799

In [37]:
import pandas as pd

In [38]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|', encoding='latin-1', decimal=',', thousands='.')
df.dropna(axis=0, inplace=True)
df.head()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
26,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319
27,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964
28,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508
29,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733
30,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165

In [39]:
filas, columnas = df.shape
print("Filas: ", filas)
print("Columnas: ", columnas)

Filas:  9029
Columnas:  6

In [40]:
df.columns

Index(['Código de país', 'Nombre del país', 'Región', 'Año', 'CO2 (kt)',
       'CO2 per cápita (toneladas métricas)'],
      dtype='object')

In [41]:
df["Clave_Hash"] = df["Código de país"].apply(hash_function)

In [42]:
df.head()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165,910

In [43]:
df.rename(columns={"Código de país": "cod_pais", "Nombre del país":"nom_pais", "Año":"anio", "CO2 (kt)": "co2" ,"CO2 per cápita (toneladas métricas)":"co2_per_capita"}, inplace=True)

In [44]:
df.head()

,cod_pais,nom_pais,Región,anio,co2,co2_per_capita,Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165,910

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [45]:
tupla = ['Clave_Hash','cod_pais','nom_pais','Región']
# df_valores_unicos = df_copia[['Clave_Hash','cod_pais','nom_pais','Región']].drop_duplicates()
df_pais = df[tupla].drop_duplicates()
df_pais.head()

     Clave_Hash cod_pais    nom_pais                   Región
26          910      ABW       Aruba  América Latina y Caribe
87          870      AND     Andorra    Europa y Asia Central
104         858      AFG  Afganistán              Sur de Asia
156         893      AGO      Angola      África subsahariana
208         856      ALB     Albania    Europa y Asia Central

In [46]:
df.columns

Index(['cod_pais', 'nom_pais', 'Región', 'anio', 'co2', 'co2_per_capita',
       'Clave_Hash'],
      dtype='object')

In [47]:
tupla2=['cod_pais', 'nom_pais', 'Región']
df.drop(tupla, axis=1, inplace=True)
df.head()

    anio       co2  co2_per_capita
26  1986   179.683        2.868319
27  1987   447.374        7.234964
28  1988   612.389       10.026508
29  1989   649.059       10.634733
30  1990  1840.830       29.620165

In [48]:
df_pais.loc[df_pais['Clave_Hash'].duplicated()]

,Clave_Hash,cod_pais,nom_pais,Región
656,910,AZE,Azerbaiyán,Europa y Asia Central
988,910,BHR,Baréin,Oriente Medio y Norte de África
1300,907,BOL,Bolivia,América Latina y Caribe
2288,887,CUB,Cuba,América Latina y Caribe
2444,955,CYP,Chipre,Europa y Asia Central
...,...,...,...,...
10867,927,YEM,Yemen,Oriente Medio y Norte de África
10919,889,ZAF,Sudáfrica,África subsahariana
10971,877,COD,Congo (República Democrática),África subsahariana
11027,909,ZMB,Zambia,África subsahariana
11079,951,ZWE,Zimbabue,África subsahariana

In [49]:
df_pais.Clave_Hash.value_counts()

Clave_Hash
910    5
935    5
951    4
877    4
931    4
      ..
981    1
836    1
847    1
881    1
965    1
Name: count, Length: 108, dtype: int64